body {
    font-family: Arial;
    margin: 40px;
    background-color: #f4f6f8;
}

h1, h2 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 70%;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: blue;
}
